#education {margin-top: 50px; padding-top: 25px; padding-bottom: 25px; border-top: 1px solid white;}
#education .container h1, h2{color: white;}
#education_button {background-color: var(--mainlight);}
#education_button:hover {opacity: 0.8;}
#education h1 {text-align: center;}
#education .container .card-deck .card-flex .card-body p{color: var(--maindarkest);}
