footer {margin-top: 25px; color: var(--maindark); background-color: var(--mainlightest); border-top: 1px solid white;}
footer a{text-decoration: none; color: var(--maindark);}
footer a:hover {text-decoration: none; color: white;}
footer h5 {color: white}