footer {margin-top: 25px; color: var(--mainwhite); background-color: var(--mainlightest); border-top: 1px solid var(--mainwhite);}
footer a{text-decoration: none; color: var(--mainwhite);}
footer a:hover {text-decoration: none; color: var(--mainwhite);}
footer h5 {color: var(--mainwhite)}