#skills{margin: 50px 0 25px 0; color: var(--mainwhite); text-align: center;}
.progress {margin: 10px; height: 19px; background-color: var(--mainlightest);}
.progress-bar {border-right: 1px solid var(--maindarkest);}
.keywords{color: var(--mainlightest);}