#skills{margin: 50px 0 25px 0; color: var(--mainwhite); text-align: center;}
.progress {margin: 5px; height: 13px; background-color: var(--mainlightest);}
.progress-bar {border-right: 1px solid Var(--maindarkest);}